body{
margin:0;
font-family: "Poppins", sans-serif;
color:white;
text-align:center;
scroll-behavior:smooth;

background: linear-gradient(
135deg,
#4f6fa5 0%,
#caa35a 40%,
#a86c3d 70%,
#6b2d3e 100%
);

background-attachment: fixed;
min-height:100vh;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:relative;
}

.hero::before{
content:"";
position:absolute;
width:600px;
height:600px;

background: radial-gradient(
circle,
rgba(212,162,76,0.35) 0%,
rgba(212,162,76,0.15) 40%,
transparent 70%
);

filter: blur(60px);

animation: glowMove 8s infinite alternate ease-in-out;
z-index:0;
}

.hero *{
position:relative;
z-index:1;
}

@keyframes glowMove{
0%{
transform: translate(-50px,-30px) scale(1);
}
100%{
transform: translate(50px,30px) scale(1.2);
}
}

h1{
font-family: "Great Vibes", cursive;
font-size:5rem;
margin:0;

color:#F5E7C5;

text-shadow:
0 6px 30px rgba(0,0,0,0.5),
0 0 20px rgba(212,162,76,0.5);
}

.subtitle{
font-size:1.4rem;
opacity:.8;
margin-bottom:40px;
}

.countdown{
display:flex;
gap:25px;
}

.box{
background: rgba(255,255,255,0.12);
padding:20px 25px;
border-radius:16px;

backdrop-filter: blur(12px);
border:1px solid rgba(255,255,255,0.25);

box-shadow:0 10px 30px rgba(0,0,0,0.35);
}

.box span{
font-size:3rem;
font-weight:bold;
color:#F5E7C5;
}

.date{
margin-top:40px;
opacity:.8;
}

.story{
padding:120px 20px;
max-width:800px;
margin:auto;
line-height:1.8;
font-size:1.1rem;
}

.photo img{
width:100%;
max-width:800px;
border-radius:16px;
margin:60px auto;
display:block;
}

@media(max-width:700px){

.countdown{
flex-wrap:wrap;
justify-content:center;
}

h1{
font-size:2.5rem;
}


}



